.formLogin {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mainLayout {
    /* background-color: aquamarine; */
    width: calc(98vw - var(--scrollbar-width, 0px));
    height: 97dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}